body{
    background:#3a466dfb;
}
h1{
    color: coral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#arriba{
    display: flex;
    width:96%;
    position: relative;
    left:2%;
}
#botones{
    width:50%;
    text-align: center;
}
input{
    border-radius: 30px;
    border: 2px solid #3d6cca;
    height:35px;
    background: #f2f2f2;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}
#content{
    display: flex;
    width:96%;
    position: relative;
    padding-top: 1em;
    left:2%;
}
#pila{
    display:block;
    width:45%;
}
button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    border-radius: 30px;
    background: rgb(30,87,153); 
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    padding: 3px 3px;
    height: 40px;
    -webkit-box-shadow: 3px 3px 2px 2px #33ADFF;
    box-shadow: 3px 3px 2px 2px #33ADFF;
    color: aliceblue;
}
button:hover{
    background: rgb(235,241,246); 
    background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
    color:darkblue;
}
#codigo{
    width:55%;
}
#codigo h2{
    text-align: center;
    color: #8bddf6b7;
    font-family: cursive;
    font-size:24px;
    font-weight: 900;
}
.titulo{
    box-shadow: 2px 2px 3px 2px  cornflowerblue;
    background:darkslategrey;
    color: aliceblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:2px 2px;
    border-radius: 30px;
}
.titulo h4{
    background:darkslategray;
}
.funciones{
    margin-left:20px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #303133;
    padding: 3px 3px;
    border-radius: 10px;
}
li{
    list-style: none;
    background: #303133;
    padding-left: 1em;
}
.sub-li{
    padding-left: 2em;
}
code{
    font-weight:400;
    font-size:17px;
    color: white;
    background: #303133;
}
/*Papel de dibujo*/
.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    
}
.dibujos_pila {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}
.celda {
    padding: 20px;
    width:50px;
    height: 50px;
    display: flex;
    border-radius:30%;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    box-shadow: 2px 2px 2px 2px cyan;
    background: #3b679e;
    background: -moz-linear-gradient(top,  #3b679e 14%, #2b88d9 51%, #7db9e8 74%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #3b679e 14%,#2b88d9 51%,#7db9e8 74%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #3b679e 14%,#2b88d9 51%,#7db9e8 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.textoCelda {
    font-size: 26px;
    color: rgb(255, 255, 255);
    position: relative;
    right: 0px;
}

.apuntadores {
    visibility: hidden;
    display: none;
}
.estilo_apuntador {
    width: 100px;
    height: 60px;
    color: #152544;
    background: rgb(245,246,246);
    background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 26%, rgba(184,186,198,1) 50%, rgba(221,223,227,1) 74%, rgba(245,246,246,1) 98%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 26%,rgba(184,186,198,1) 50%,rgba(221,223,227,1) 74%,rgba(245,246,246,1) 98%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 26%,rgba(184,186,198,1) 50%,rgba(221,223,227,1) 74%,rgba(245,246,246,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px white;
    }
.a_fin {
    position: relative;
    right: 130px;
    bottom: -78px;
    z-index: 0;
}
.a_inicio{
    position: relative;
    right: 130px;
    bottom:78px;
    z-index: 1;
}
/*Animaciones*/ 
.fadeDown {
    -webkit-animation-name: fadeDown;
    animation-name: fadeDown;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
@-webkit-keyframes fadeDown {
    from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}
@keyframes fadeDown {
from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}
.FadeUp {
    -webkit-animation-name: FadeUp;
    animation-name: FadeUp;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
@-webkit-keyframes FadeUp {
from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
}
to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}
@keyframes FadeUp {
from {
    opacity: 0;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
}
to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
}
/*animacion de salida*/

.lightSpeedIn {
	-webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes lightSpeedIn {
    0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-40deg);
    transform: translate3d(100%, 0, 0) skewX(-40deg);
    opacity: 0;
    }
    60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
    }
    80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
    }
    100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    }
    }
    @keyframes lightSpeedIn {
    0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-40deg);
    transform: translate3d(100%, 0, 0) skewX(-40deg);
    opacity: 0;
    }
    60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
    }
    80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
    }
    100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    }
}
.salida{
    color:lightseagreen;
    margin-top: -10px;
}
.operaciones{
    background:transparent;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding-left: 20px;
}